<div id="abdiv">
		<p class="spe"><<<中和营镇-人和缘宾馆>>> 信息管理系统 </p>
		<div id="rinfo" onmouseover="abover('rinfo')" onmouseleave="ablev('rinfo')">
			<p>住宿服务</p><br/><br/>
			通过该服务，大家可以查看宾馆的房间类型及消费价格。
			欢迎大家随时入住，订房电话：
			<p style="color:#FFCC33;padding:0px;padding-left:5px;padding-right:5px;">
			18788261703
			</p>
		</div>
		<div id="finfo" onmouseover="abover('finfo')" onmouseleave="ablev('finfo')">
			<p>餐饮服务</p><br/><br/>
			本宾馆同时也提供餐饮服务，这里可以品尝各地的特色美食，欢迎大家前
			来品尝，价格优惠。
		</div>
		<div id="minfo" onmouseover="abover('minfo')" onmouseleave="ablev('minfo')">
			<p>交易服务</p><br/><br/>
			在本系统中注册的用户，还可以免费发布交易信息，可以快速帮你找到买家或者
			买家。
		</div>
		<div id="sinfo" onmouseover="abover('sinfo')" onmouseleave="ablev('sinfo')">
			<p>特产服务</p><br/><br/>
			本系统会每天更新各地特产，大家可以根据需要联系他们。足不出户，即可买到
			想要的特产。
		</div>
</div>